body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-image: linear-gradient(to bottom, #f6870090, #fffb007b);
    color: #000000;

}

header {
    position: sticky;
    top: 0;
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px 20px;
    z-index: 1000;

}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .brand {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    padding-left: 25rem;    
}

nav a,
nav button {
    margin-left: 10px;
    color: #FFFFFF;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

nav button {
    background-color: #F68700;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

nav button:hover {
    background-color: #FFFB00;
    color: #000;
}

.fotoHeader .yogadespertar {
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 99vw;
    }
}

main {

    margin: 5rem;
    padding: 0;
    box-sizing: border-box;

}

.hero {
    background: url('img/hero.jpg') no-repeat center center/cover;
    /* height: 50vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    text-align: left;
    position: relative;

    .reiki {
        display: flex;
        flex-direction: column;
        text-align: left;
        padding-top: 0px;
        border-radius: 10px;
        width: 90vw;
        font-size: 1.5rem;
        text-indent: 1rem;

        p {
            margin-bottom: 0;
            font-size: 1.5rem;
            text-align: left;
            text-indent: 1rem;
        }

        h1 {
            text-align: center;
            margin: 20PX;
            padding: 0;
            margin-top: 5rem;
            align-items: center;
        }

        h2 {
            text-align: center;
            margin: 20PX;
            padding: 0;
            font-size: 2rem;
        }

        li {
            align-items: center;
            text-align: left;
        }

        #videoReiki {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 3rem;
            border-radius: 10px;
        }

    }


}

#mikauUsui div {

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin: 5rem;

    img {
        border-radius: 40px;
    }

    #texto {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 1.5rem;
        margin: 1rem;

        p {
            font-size: 1.3rem;
        }
    }


}


#video2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 5rem;
}

#cronograma {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2rem;
    gap: 1rem;



    li {
        font-size: 1.5rem;
        align-items: center;
        text-align: left;
    }

    p {

        justify-content: left;
        position: relative;
        margin-bottom: 0;
        font-size: 1.5rem;
        text-align: left;
        text-indent: 1rem;
    }

}


.cta-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 3rem;

    #whatsapp {
        background-color: #25D366;
        color: white;
        padding: 12px 20px;
        text-decoration: none;
        border-radius: 5px;
        font-family: sans-serif;
        font-size: 2rem;
        display: inline-block;
    }

}

#formatoDoCurso {
    h2 {
        text-align: center;
        margin: 20PX;
        padding: 0;
        font-size: 3rem;
    }

    p {
        margin-bottom: 0;
        font-size: 1.5rem;
        text-align: left;
        text-indent: 1rem;
    }
}

#abordar {
    h3 {
        color: #000;
        font-size: 2rem;
        text-align: center;
    }

    p {
        font-size: 1.5rem;
        text-align: left;
        text-indent: 1rem;
    }

    #apostila {
        color: red;
        font-weight: bolder;
        font-size: 1.9rem;
        text-align: end;
        text-indent: 1rem;
    }

}

#investimento {
    h2 {
        text-align: center;
        margin: 20PX;
        padding: 0;
        font-size: 2rem;
    }
}

.btn {
    background-color: #AEA12C;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #484312;
}


h2 {
    margin-top: 5rem;
    font-size: 2.5rem;
    width: 90vw;
}

h3 {
    margin-top: 5rem;
    font-size: 3rem;
    color: rgb(193, 0, 0);
    width: 90vw;
}


#acompanhamento {

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;

    strong {
        font-size: x-large;
    }
}




#formatoDoCurso {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: left;
    gap: 1rem;
    font-size: xx-large;

    p {
        margin: 0;
        text-align: justify;
        text-indent: 1rem;
    }

    #bonus {
        color: red;
        font-size: 3rem;
        margin-bottom: 0;

    }

    ul {
        font-size: 1.5rem;
        align-items: center;
        text-align: justify;
    }

    li {
        align-items: center;
    }
}

#fotos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem;
    border-radius: 20px;


    img {
        border-radius: 20px;

    }

}

#avaliacoes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 2rem;
    margin-top: 5rem;

    div {
        font-size: large;
    }

    ul {
        font-size: 1.5rem;
        align-items: center;
        text-align: justify;
    }

    li {
        align-items: center;

    }
}

#praticaPessoal {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 0;
    margin-top: 5rem;
    font-size: x-large;
}

#fotos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

#investimento {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    font-size: x-large;


}

#informacoes {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: x-large;
    text-indent: 1rem;
}


#cursos {
    border: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;




    .caixa {
        text-align: center;

        img {
            border-radius: 20px;
        }

        img:hover {
            border-style: solid;
            color: #ff660092;
            border-width: 5px;
        }


    }

}



.quem-sou {
    padding: 50px 20px;



}

.quem-sou h2 {
    text-align: center;
    margin-bottom: 20px;
}

.quem-sou .content {
    display: flex;
    align-items: center;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(253, 143, 0, 0.16);
}

.quem-sou img {
    width: 300px;
    border-radius: 10px;
}

.testemunha {

    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    padding: 40px 20px;

    h3 {
        text-align: center;
        color: #000;
    }

}

.testimonial {
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    max-width: 300px;
    text-align: center;
    color: #484312;
}

.minhasRedes {
    border: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 60PX;


}

.redes {
    border: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5rem;

    a {
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    p {
        text-decoration: none;
        color: #000;
    }

}




footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer .social-icons a {
    margin: 0 10px;
    font-size: 1.5rem;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.modal-content input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

.modal-content .btn {
    width: 100%;
}