/* ======== REGISTER PAGE ======== */

.register-container {
    max-width: 450px;
    margin: 70px auto;
    background: #ffffff;
    padding: 35px;
    border-radius: 18px;
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
    animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.register-container h1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size: 26px;
    margin-bottom: 25px;
    color: #f68700;
}

.register-container input {
    width: 100%;
    padding: 12px;
    margin: 10px 0 18px 0;
    border-radius: 10px;
    border: 1px solid #bbb;
    font-size: 15px;
    transition: 0.2s;
}

.register-container input:focus {
    border-color: #000000;
    box-shadow: 0 0 5px rgba(56, 55, 56, 0.4);
}

.register-container button {
    width: 100%;
    padding: 12px;
    background: #f68700;
    border: none;
    border-radius: 12px;
    color: white;
    font-size: 17px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
}

.register-container button:hover {
    background: #000000;
    transform: translateY(-2px);
}

.register-container .login-link {
    text-align: center;
    margin-top: 15px;
}

.register-container .login-link a {
    color: #f68700;
    text-decoration: none;
    font-weight: bold;
}

.register-container .login-link a:hover {
    text-decoration: underline;
}

.register-container .alert {
    margin-bottom: 20px;
}

.container-body {
    height: 100%;
    display: flex;
    align-items: center;
}

body{
    height: 100vh;
}