body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #d9d9d97b;
    color: #000000;

}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 20px;
}

    header {
        position: sticky !important;
        top: 0;
        background-color: #000000;
        color: #FFFFFF;
        padding: 10px 20px;
        z-index: 1000;

    }

    header .container {
        display: flex;
        align-items: center;
        margin: 0;
        width: 100vw;
        justify-content: space-between;
        flex-wrap: wrap;
        /* adiciona essa linha */
    }

header .brand {
    font-weight: bold;
    font-size: 3rem;
    padding-left: 10px;
    white-space: nowrap;
}

nav {
    display: flex;
    align-items: center;
}

nav a,
nav button {
    margin-left: 20px;
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
}

nav button {
    background-color: #F68700;
    padding: 6px 14px;
    border-radius: 6px;
    border: none;
}

    nav button:hover {
        background-color: #ffffff;
        color: #000;
        
    }


.minhasRedes {
    margin: 0px;
}

.redes {

    p {
        color: white;
        text-decoration: none;
    }
}