body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #d9d9d97b;
    color: #000000;

}

header {
    position: sticky;
    top: 0;
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px 20px;
    z-index: 1000;

}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .brand {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    padding-left: 20rem;
}

nav a,
nav button {
    margin-left: 10px;
    color: #FFFFFF;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

nav button {
    background-color: #F68700;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

nav button:hover {
    background-color: #FFFB00;
    color: #000;
}

.fotoHeader .juVermelho {
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100vw;
    }
}



.hero {
    background: url('img/hero.jpg') no-repeat center center/cover;
    /* height: 50vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
}

.hero .overlay {
    background-color: rgba(255, 255, 255, 0);
    padding: 40px;
    border-radius: 10px;
    width: 90vw;

}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 10px;
}

.hero p {
    font-size: 2rem;
}

.cta-buttons {
    margin-top: 20px;
}

.btn {
    background-color: #AEA12C;
    color: #fff;
    padding: 10px 20px;
    text-decoration: none;
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
    transition: 0.3s;
}

.btn:hover {
    background-color: #484312;
}

#cursos {
    border: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;


    .caixa {
        text-align: center;

        img {
            border-radius: 20px;
        }

        img:hover {
            border-style: solid;
            color: #ff660092;
            border-width: 5px;
        }


    }

}



.quem-sou {
    padding: 1rem;

}

.quem-sou h2 {
    text-align: center;
    margin-bottom: 20px;
}

.quem-sou .content {
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1rem;
    gap: 20px;
    max-width: 1000px;
    margin: 0 auto;
    border-radius: 20px;
    box-shadow: 2px 2px 2px 2px rgba(253, 143, 0, 0.16);

    .textoQuemSou {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        max-width: 1000px;
        margin: 0 auto;
        border-radius: 0px;

        display: block;
        /* Garante comportamento de bloco */
        width: 100%;
        /* Faz ocupar toda a largura da div pai */

        h2 {
            width: 100%;
            /* Ocupa 60% da div */

            text-align: center;
            /* Centraliza o texto */
            margin: 20px;
        }

        P {
            margin: 0PX;
        }
    }
}

.quem-sou img {
    width: 300px;
    border-radius: 10px;
}

h2 {
    text-align: center;
}

.minhasRedes {
    border: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-bottom: 60PX;


}

.redes {
    border: #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 5rem;

    a {
        display: flex;
        flex-direction: column;
        align-items: center;


    }

    p {
        text-decoration: none;
        color: #000;
    }

}

.testemunha {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.testimonial {
    background-color: #D9D9D9;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    max-width: 300px;
    text-align: center;
    color: #484312;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer .social-icons a {
    margin: 0 10px;
    font-size: 1.5rem;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.modal-content input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

.modal-content .btn {
    width: 100%;
}