footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
}

footer .social-icons a {
    margin: 0 10px;
    font-size: 1.5rem;
}

header {
    position: sticky;
    top: 0;
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px 20px;
    z-index: 1000;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0px;
    margin-right: 0px;
}

header .brand {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    padding-left: 25rem;
}

button {
    background-image: linear-gradient(to right, #f6870090, #fffb007b);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}