body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato !important;
    background-color: #d9d9d97b;
    color: #000000;

}


 header {
    position: sticky;
    top: 0;
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px 20px;
    z-index: 1000;

}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    max-width: 100%;
}

header .brand {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
}


nav {
    display: flex;
    align-items: center;
}

nav a,
nav button {
    margin-left: 20px;
    font-size: 1.4rem;
    color: white;
    text-decoration: none;
}

nav button {
    background-color: #F68700;
    padding: 6px 14px;
    border-radius: 6px;
    border: none;
}

nav button:hover {
    background-color: #FFFB00;
    color: #000;
}



.minhasRedes {
    margin: 0px;
}

.redes {

    p {
        color: white;
        text-decoration: none;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1.5rem;
    }

    nav button {
        background-color: #F68700;
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
    }

    nav button:hover {
        background-color: #ffffff;
        color: #000;

    }


    .minhasRedes {
        margin: 0px;
    }

    .redes {

        p {
            color: white;
            text-decoration: none;
        }
    }

}



.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fff;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
}

.modal-content input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}

.modal-content .btn {
    width: 100%;
}