<<<<<<< HEAD
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #d9d9d97b;
    color: #000000;

}

header {
    position: sticky;
    top: 0;
    background-color: #000000;
    color: #FFFFFF;
    padding: 10px 20px;
    z-index: 1000;

}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .brand {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    padding-left: 20rem;
}

nav button {
    margin-left: 10px;
    color: #FFFFFF;
    text-decoration: none;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
}

nav button {
    background-color: #F68700;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

nav button:hover {
    background-color: #FFFB00;
    color: #000;
}

.fotoHeader .juVermelho {
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
        width: 100vw;
    }
}

.minhasRedes{
    margin: 0px;
}

.redes{
    
    p{
        color: white;
        text-decoration: none;
    }
}
=======
    body {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: Arial, sans-serif;
        background-color: #d9d9d97b;
        color: #000000;

    }

    header {
        position: sticky;
        top: 0;
        background-color: #000000;
        color: #FFFFFF;
        padding: 10px 20px;
        z-index: 1000;

    }

    header .container {
        display: flex;
        align-items: center;
        margin: 0;
        width: 100vw;
        justify-content: space-between;
        flex-wrap: wrap;
        /* adiciona essa linha */
    }

    header .brand {
        font-weight: bold;
        font-size: 3rem;
        text-align: center;
        padding-left: 0;
    }

    nav a,
    nav button {
        margin-left: 10px;
        color: #FFFFFF;
        text-decoration: none;
        background: none;
        border: none;
        cursor: pointer;
        font-size: 1.5rem;
    }

    nav button {
        background-color: #F68700;
        color: #fff;
        padding: 5px 10px;
        border-radius: 5px;
    }

    nav button:hover {
        background-color: #FFFB00;
        color: #000;
    }


    .minhasRedes {
        margin: 0px;
    }

    .redes {

        p {
            color: white;
            text-decoration: none;
        }
    }
>>>>>>> eab2ac936aaf74bb979374edf2363efc9a74d23f
